<div>
	<img id="loading-icon" ng-hide="ready" src="images/loading.gif">
	<ul ng-cloak>
		<li dir-paginate="ad in adsData.ads | itemsPerPage: adsPerPage" total-items="totalAds" >
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span class="panel-title"><span class="pull-left">{{ad.title}}</span><spanh3 class="pull-right">{{ad.date | date: 'd-MMM-yyyy'}}</span></span>					
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<img class="img-responsive" ng-src="{{ad.imageDataUrl}}" alt="">
						</div>
						<div class="col-md-6">
							<div>{{ad.text}}</div>
							<div class="row">
								<div class="col-md-4">
									<div><strong>Category: </strong></div>
									<div><strong>Town: </strong></div>
								</div>
								<div class="col-md-8">
									<div>{{ad.categoryName}}</div>
									<div>{{ad.townName}}</div>

								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div><strong>Status: {{ad.status}}</strong></div>
							<button ng-show="(ad.status === 'Published') || (ad.status === 'WaitingApproval')" class="btn btn-primary btn-sm" ng-click="deactivateAd(ad.id)">Deactivate</button>
							<button class="btn btn-primary btn-sm" ng-click="editAd(ad.id)">Edit</button>
							<button ng-if="ad.status === 'Inactive'" class="btn btn-primary btn-sm" ng-click="publishAgain(ad.id)">Publish again</button>
							<button class="btn btn-primary btn-sm" ng-click="deleteAd(ad.id)">Delete</button>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="row pagination-div">
		<div class='col-xs-12 col-centered'>
			<dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)" template-url="partials/dirPagination.html"></dir-pagination-controls>
		</div>
	</div>
</div>