<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Navigation
		</div>
		<div class="panel-body ">
			<ul class="nav nav-pills nav-stacked">
				<li ng-class="{ active: isActive('/')}"><a href="#/">Home</a></li>
				<li ng-if="userIsLogged" ng-class="{ active: isActive('/userAds')}"><a href="#/userAds">My Ads</a></li>
				<li ng-if="userIsLogged" ng-class="{ active: isActive('/publishNewAd')}"><a href="#/publishNewAd">Publich New Ad</a></li>
				<li ng-if="userIsLogged" ng-class="{ active: isActive('/editProfile')}"  ><a href="#/editProfile">Edit Profile</a></li>
			</ul>
		</div>
	</div>
	<div class="panel panel-primary" ng-show="showUserAdsFilter">
		<div class="panel-heading">
			My ads
		</div>
		<div class="panel-body">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="">All</a></li>
				<li><a href="">Published</a></li>
				<li><a href="">Waiting Approval</a></li>
				<li><a href="">Inactive</a></li>
				<li><a href="">Rejected</a></li>
			</ul>
		</div>
	</div>	
</div>