<div class="row">
	<div class="panel panel-primary" ng-show="userIsLogged">
		<div class="panel-heading">
			Navigation
		</div>
		<div class="panel-body ">
			<ul class="nav nav-pills nav-stacked">
				<li ng-class="{ active: isActive('/user/home')}"><a href="#/user/home">Home</a></li>
				<li ng-class="{ active: isActive('/user/ads')}"><a href="#/user/ads">My Ads</a></li>
				<li ng-class="{ active: isActive('/user/ads/publish')}"><a href="#/user/ads/publish">Publich New Ad</a></li>
				<li ng-class="{ active: isActive('/editProfile')}"  ><a href="#/editProfile">Edit Profile</a></li>
			</ul>
		</div>
	</div>
	<div class="panel panel-primary" ng-show="showUserAdsFilter">
		<div class="panel-heading">
			My ads
		</div>
		<div class="panel-body">
			<ul class="nav nav-pills nav-stacked">
				<li ng-class="{ activeFilter: isActive('/user/ads')}"><a href="#/user/ads">All</a></li>
				<li ng-class="{ activeFilter: isActive('/user/ads/published')}"><a href="#/user/ads/published">Published</a></li>
				<li ng-class="{ activeFilter: isActive('/user/ads/waitingapproval')}"><a href="#/user/ads/waitingapproval">Waiting Approval</a></li>
				<li ng-class="{ activeFilter: isActive('/user/ads/inactive')}"><a href="#/user/ads/inactive">Inactive</a></li>
				<li ng-class="{ activeFilter: isActive('/user/ads/rejected')}"><a href="#/user/ads/rejected">Rejected</a></li>
			</ul>
		</div>
	</div>	
</div>