<div class="row">
	<div class="panel panel-primary" ng-show="userIsLogged">
		<div class="panel-heading">
			Navigation
		</div>
		<div class="panel-body ">
			<ul class="nav nav-pills nav-stacked">
				<li ng-class="{ active: isActive('/user/home')}"><a href="#/user/home">Home</a></li>
				<li ng-class="{ active: isActive('/user/ads')}"><a href="#/user/ads">My Ads</a></li>
				<li ng-class="{ active: isActive('/user/ads/publish')}"><a href="#/user/ads/publish">Publich New Ad</a></li>
				<li ng-class="{ active: isActive('/editProfile')}"  ><a href="#/editProfile">Edit Profile</a></li>
			</ul>
		</div>
	</div>
	<div class="panel panel-primary" ng-show="showUserAdsFilter">
		<div class="panel-heading">
			My ads
		</div>
		<div class="panel-body">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="">All</a></li>
				<li><a href="">Published</a></li>
				<li><a href="">Waiting Approval</a></li>
				<li><a href="">Inactive</a></li>
				<li><a href="">Rejected</a></li>
			</ul>
		</div>
	</div>	
</div>