<form class="form-horizontal col-md-10 well" name="registerForm" ng-submit="register(credentials)" novalidate>
  <fieldset>
    <legend>Register</legend>
    <!-- Username -->
    <div class="form-group">
      <div>
        <label for="inputUsername" class="col-lg-2 control-label">Username</label>
      </div>
      <div class="col-lg-3">
        <input type="text" class="form-control" id="inputUsername" name="inputUsername" placeholder="Username"
        ng-model="credentials.username"
        required>
      </div>
    </div>
    <!-- Passwords -->
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-3">
        <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" 
        ng-model="credentials.password" 
        ng-minlength="2"
        required>
      </div>
      <label for="confirmPassword" class="col-lg-2 control-label">Confirm Password</label>
      <div class="col-lg-3">
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" 
        ng-model="credentials.confirmPassword"
        ng-minlength="2"
        required>
      </div>
      <div ng-show="(credentials.password !== credentials.confirmPassword) && registerForm.confirmPassword.$dirty"><span>Passwords do not match.</span></div>
    </div>

    <!-- Name and Email -->
    <div class="form-group">
      <label for="registerName" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" id="registerName" name="registerName" placeholder="Name"
        ng-model="credentials.name"
        required>
      </div>
      <label for="registerEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-3">
        <input type="email" class="form-control" id="registerEmail" name="registerEmail" placeholder="Email" 
        ng-model="credentials.email" required>
      </div>
    </div>

    <!-- Phone and town -->
    <div class="form-group">
      <label for="registerPhone" class="col-lg-2 control-label">Phone</label>
      <div class="col-lg-3">
        <input  type="number" pattern="[0-9]*" class="form-control" id="registerPhone" placeholder="Phone" ng-model="credentials.phone">
      </div>
      <label for="selectTown" class="col-lg-2 control-label">Town</label>
      <div class="col-lg-3">
        <select  class="form-control" id="selectTown" ng-options="town.id as town.name for town in townsData" ng-model="credentials.town">
        </select>
      </div>
    </div>

    <!-- Submit  -->
    <div class="form-group">
      <div class="col-lg-3 col-lg-offset-2">
        <button  type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid || (credentials.password !== credentials.confirmPassword)">Register</button>
        <button type="button" class="btn btn-default" ng-click="changeRoute('/login')">Login here</button>
      </div>
    </div>
  </fieldset>
</form>
