<div class="jumbotron">
<div ng-bind="townSelector"></div>
	<div class="row">
		<div class="col-md-9">
			<ul>
				<li dir-paginate="ad in adsData.ads | filter: searchQuery | itemsPerPage: adsPerPage" total-items="totalAds"  class="well">
					<div class="container well">
						<div class="row">
							<div class="col-md-7">
								<h4 class="pull-left">{{ad.title}}</h4>
							</div>
							<div class="col-md-5">
								<span class="pull-right">{{ad.date | date: 'd-MMM-yyyy'}}</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<img class="img-responsive" ng-src="{{ad.imageDataUrl}}" alt="">
							</div>
							<div class="col-md-8">
								<div>{{ad.text}}</div>
								<div class="row">
									<div class="col-md-4">
										<div><strong>Name: </strong></div>
										<div><strong>Email: </strong></div>
										<div><strong> Phone: </strong></div>
									</div>
									<div class="col-md-8">
										<div>{{ad.ownerName}}</div>
										<div>{{ad.ownerEmail}}</div>
									  	<div>{{ad.ownerPhone}}</div>
									 </div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title">Categories</h3>
			  </div>
			  <div class="panel-body" >
					<select class="form-control">
							<option value="">Chose a category </option>
							<option ng-repeat="categorie in categories" value="{{categorie.id}}">{{categorie.name}}</option>
					</select>
			  </div>
			</div>
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title">Towns</h3>
			  </div>
			  <div class="panel-body">
				<select class="form-control" ng-model='townSelector' ng-change="logTown()">
					<option value="" >Chose a town</option>
					<option value="{{town.name}}" ng-repeat="town in towns">{{town.name}}</option>
				</select>
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="row pagination-div">
  <div class='col-md-9 col-sm-10 col-xs-12 col-centered'>
    <dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.tpl.html"></dir-pagination-controls>
 </div>